<template>
  <div>
    <QuizQuestion
      v-on:answerClick="nextQuestion"
      v-bind:question="currentQuestion"
    ></QuizQuestion>
  </div>
</template>

<script>
import QuizQuestion from "../components/QuizQuestion.vue";
export default {
  name: "GamePlay",
  data: function() {
    return {
      userName: this.$route.params.userName,
      questions: [],
      currentIndex: 0,
      answers: [],
      currentQuestion: { question: "Loading.." }
    };
  },
  components: {
    QuizQuestion
  },
  created: function() {
    fetch("https://opentdb.com/api.php?amount=10", {
      method: "get"
    })
      .then(res => res.json())
      .then(res => {
        this.questions = res.results;
        this.currentQuestion = this.questions[this.currentIndex];
      });
  },
  methods: {
    nextQuestion(alt) {
      this.currentIndex++;
      this.answers.push(alt);
      if (this.currentIndex < this.questions.length) {
        this.currentQuestion = this.questions[this.currentIndex];
      } else {
        this.loadGameOver();
      }
    },
    loadGameOver() {
      this.$router.push({
        name: "GameOver",
        params: {
          userName: this.userName,
          answers: this.answers,
          questions: this.questions
        }
      });
    }
  }
};
</script>
<style scoped></style>
