<template>
  <div>
    <div class="score">
      <h1>
        {{ userName }}'s score: {{ score * 10 }}/{{ questions.length * 10 }}
      </h1>
      <button class="btn btn-success button" v-on:click="routeToMenu">
        Main menu
      </button>
      <button class="btn btn-danger button" v-on:click="routeToGamePlay">
        Play again
      </button>
    </div>
    <div
      class="answers"
      v-for="(question, index) of questions"
      v-bind:key="question.question"
    >
      <QuizResults v-bind:question="question" v-bind:answer="answers[index]" />
    </div>
  </div>
</template>

<script>
import QuizResults from "../components/QuizResults.vue";
export default {
  name: "GameOver",
  props: ["questions", "answers"],
  data() {
    return {
      userName: this.$route.params.userName,
      score: 0
    };
  },
  methods: {
    routeToMenu() {
      this.$router.push({ name: "GameMenu" });
    },
    routeToGamePlay() {
      this.$router.push({ name: "GamePlay" });
    }
  },
  components: { QuizResults },
  created() {
    this.questions.forEach((element, index) => {
      this.score += element.correct_answer == this.answers[index];
    });
  }
};
</script>
<style scoped>
.answers {
  color: rgb(65, 184, 131);
  background-color: rgb(53, 73, 94);
  display: table;
  margin: auto auto 30px auto;
  width: 700px;
  border-radius: 10px;
}
.score {
  background-color: rgb(65, 184, 131);
  color: rgb(53, 73, 94);
  display: table;
  margin: auto auto 30px auto;
  border: 9px solid rgb(53, 73, 94);
  width: 700px;
  border-radius: 10px;
}
#btn {
  background-color: green;
}
</style>
