<template>
  <div class="gameMenu">
    <h1>Trivia Vue</h1>
    <div id="nameField">
      <input
        id="inputName"
        type="text"
        placeholder="Choose your name.."
        v-model="userName"
      />
      <button
        type="buttonStart"
        class="btn btn-success"
        v-on:click="() => startGame(userName)"
      >
        Start game
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "GameMenu",
  data: function() {
    return { userName: "" };
  },
  methods: {
    startGame: function(userName) {
      this.$emit("startGame", userName);
      this.$router.push({ name: "GamePlay", params: { userName } });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1 {
  color: rgb(65, 184, 131);
  background-color: rgb(53, 73, 94);
  margin: auto;
  width: 35%;
  border-radius: 10px;
  padding: 5px 5px;
  margin-bottom: 25px;
}
#inputName {
  background-color: rgba(255, 255, 255, 0.753);
  padding: 10px;
  font-size: 20px;
  border: grey 1px solid;
  border-radius: 5px 0px 0px 5px;
}
</style>
