<template>
  <div class="QuizQuestion">
    <p class="question-text" v-html="question.question"></p>
    <button
      class="alt-button"
      v-for="alt of this.alts"
      :key="alt"
      v-on:click="answerClick(alt)"
    >
      <span class="alt-text" v-html="alt"></span>
    </button>
  </div>
</template>

<script>
export default {
  name: "QuizQuestion",
  props: ["question"],
  methods: {
    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    },
    answerClick(alt) {
      this.$emit("answerClick", alt);
    }
  },
  data() {
    return {
      alts: []
    };
  },
  beforeUpdate() {
    this.alts = [
      ...this.question.incorrect_answers,
      this.question.correct_answer
    ];
    this.shuffleArray(this.alts);
  }
};
</script>
<style>
.alt-button {
  color: rgb(53, 73, 94);
  background-color: rgb(65, 184, 131);
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px;
  margin: 5px;
  width: 20%;
  margin-top: 25px;
}
.quiz-question {
  align-items: center;
  position: relative;
}

.alt-text {
  font-weight: bold;
}

.question-text {
  font-weight: bold;
  font-size: 18px;
  color: rgb(65, 184, 131);
  background-color: rgb(53, 73, 94);
  margin: auto;
  width: 50%;
  border-radius: 10px;
  padding: 20px 20px;
}
</style>
